<!DOCTYPE html>
<html class="{{platform}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/plugins/jquery-toast/jquery-toast.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../../../assets/js/components/stack/stack.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/js/components/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/dialog.css">
</head>
<body class="dialog" id="dialog-account-signUp">
<header class="dialog-header">
    <div class="title">{{locales.main_signUp_title}}</div>
    <ul class="nav-window" id="nav-window">
        <li class="btn-transition btn-exit"><i class="fs fs-close"></i></li>
    </ul>
</header>
<div class="content-wrapper">
    <div class="form-group">
        <label>{{locales.main_signUp_email_title}}</label>
        <input type="text" class="user-email" name="useremail" value="">
        <div class="send-email">
            <span class="send-email-title">{{locales.main_signUp_send_email}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>{{locales.main_signUp_email_code}}</label>
        <input type="text" class="message-code" name="messageCode" value="">
    </div>
    <div class="form-group">
        <label>{{locales.main_signUp_password}}</label>
        <input type="password" class="password" name="password" value="">
    </div>
</div>
<footer class="dialog-footer">
    <div class="back-login">
        <i class="fs fs-angle-left"></i>
        <span>{{locales.main_signUp_have_account}}</span>
    </div>
    <a class="btn btn-primary btn-login">{{locales.main_login_signup}}</a>
</footer>
<script>window.$ = window.jQuery = require('../../../assets/plugins/jquery/jquery-3.2.1.min.js');</script>
<script>window.i18n = new(require('../../../../locales/i18n.js'));</script>
<script src='../../../assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js'></script>
<script src='../../../assets/plugins/jquery/jquery.ease.js'></script>

<!--bootstrap js-->
<script src="../../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../assets/plugins/lodash/lodash.min.js"></script>
<script src="../../../assets/plugins/jquery-toast/jquery-toast.js"></script>
<script src="../../../assets/plugins/pouch/pouchdb.js"></script>
<script src="../../../assets/plugins/pouch/pouchdb.find.js"></script>

<script src='../../../assets/js/components/core.js'></script>
<script src='../../../assets/js/components/dialog/dialog.js'></script>
<script src='../../../assets/js/components/lodash-ext/lodash-ext.js'></script>
<script src='../../../assets/js/components/icheck/icheck.js'></script>
<script src='../../../assets/js/components/stack/stack.js'></script>

<script src="../../../assets/js/account.js"></script>
</body>
</html>