<!DOCTYPE html>
<html class="{{platform}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/plugins/jquery-toast/jquery-toast.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../../../assets/js/components/stack/stack.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/js/components/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/js/components/inputs/input-folder.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/dialog.css">
</head>
<body class="dialog" id="dialog-tools-generate-captcha">
<header class="dialog-header">
    <div class="title">{{locales.project_captcha_generate_title}}</div>
    <ul class="nav-window" id="nav-window">
        <li class="btn-transition btn-exit"><i class="fs fs-close"></i></li>
    </ul>
</header>
<div class="content-wrapper" data-toggle="stack">
    <input type="hidden" class="icon-path" value="file:///{{plugin.root}}/{{plugin.icon}}">
    <input type="hidden" class="plugin-name" value="{{plugin.name}}">
    <div class="project-setting">
        <div class="form-group">
            <label>{{locales.project_new_projectName}}:</label>
            <input type="text" name="__name"  value="{{locales.project_captcha_generate_name}}">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_source}}:</label>
            <input type="text" data-toggle="input.folder" name="source" class="input plugin"  value="">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_charsets}}:</label>
            <input type="text" data-toggle="input.string" name="charsets" class="input plugin"  value="0-9">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_num_images}}:</label>
            <input type="text" data-toggle="input.int32" name="num_images" class="input plugin"  value="100">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_num_code}}:</label>
            <input type="text" data-toggle="input.int32" name="num_text" class="input plugin"  value="4">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_width}}:</label>
            <input type="text" data-toggle="input.int32" name="width" class="input plugin"  value="200">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_height}}:</label>
            <input type="text" data-toggle="input.int32" name="height" class="input plugin"  value="60">
        </div>
        <div class="form-group">
            <label>{{locales.project_captcha_label_font}}:</label>
            <input type="text" data-toggle="input.string" name="font" class="input plugin"  value="bold 40px Lucida Sans Unicode">
        </div>
        <!--<div class="form-group">-->
            <!--<label>{{locales.project_captcha_label_background}}:</label>-->
            <!--<input type="text" data-toggle="input.string" name="background" class="input plugin"  value="random">-->
        <!--</div>-->
        <div class="form-group">
            <label>{{locales.project_captcha_label_obfuscation}}:</label>
            <input type="text" data-toggle="input.string" name="obfuscation" class="input plugin"  value="false">
        </div>
    </div>
</div>
<footer class="dialog-footer">
<a class="btn btn-primary" id="btn-create">{{locales.project_new_create}}</a>
</footer>
<div class="progress-wrapper">
    <div class="progress-generate">
        <img src="../../../assets/image/loading.gif" alt="" class="center-block">
        <div class="progressing">{{locales.project_captcha_generating}} <span>0%</span></div>
    </div>
</div>
<script>window.$ = window.jQuery = require('../../../assets/plugins/jquery/jquery-3.2.1.min.js');</script>
<script>window.i18n = new(require('../../../../locales/i18n.js'));</script>
<script src='../../../assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js'></script>
<script src='../../../assets/plugins/jquery/jquery.ease.js'></script>

<!--bootstrap js-->
<script src="../../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../assets/plugins/lodash/lodash.min.js"></script>
<script src="../../../assets/plugins/jquery-toast/jquery-toast.js"></script>
<script src="../../../assets/plugins/pouch/pouchdb.js"></script>
<script src="../../../assets/plugins/pouch/pouchdb.find.js"></script>

<script src='../../../assets/js/components/core.js'></script>
<script src='../../../assets/js/components/dialog/dialog.js'></script>
<script src='../../../assets/js/components/lodash-ext/lodash-ext.js'></script>
<script src='../../../assets/js/components/icheck/icheck.js'></script>
<script src='../../../assets/js/components/stack/stack.js'></script>
<script src='../../../assets/js/components/inputs/input-folder.js'></script>
<script src="../../../assets/js/tools.js"></script>
</body>
</html>