/**
 * Created by wutong on 2016/12/31.
 */
.has-error .uploader-ajax{
    border-color: #dd4b39;
    box-shadow: none;
}
.uploader-ajax{
    background-color: #fff;
    border:1px solid #d8d8d8;
    width: 70px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.uploader-ajax:hover{
    background-color: #ffffff;
    border:1px solid #999999;
}
.uploader-ajax .uploader-click{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: transparent;
    border: 0;
}

.uploader-ajax .input-file{
    display: none;

}
.uploader-ajax .fs-upload{
    font-size: 64px;
    color:#cccccc;
    margin: auto;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
}
.uploader-ajax .loading{
    background-image: url("image/loading.gif");
    width: 40px;
    height: 40px;
    margin: auto;
    background-size: 40px;
    margin-top: 25px;
}
.uploader-ajax h3{
    color: #999999;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    margin: 0;
    text-align: center;
    display: none;
}
.uploader-ajax img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.uploader-ajax img,
.uploader-ajax .loading-title,
.uploader-ajax .loading,
.uploader-ajax.uploading .title,
.uploader-ajax.uploaded .title,
.uploader-ajax.uploaded .fs-upload,
.uploader-ajax.uploading .fs-upload
{
    display: none;
}

.uploader-ajax.uploading .loading,
.uploader-ajax .title,
.uploader-ajax.uploading .loading-title,
.uploader-ajax.uploaded .loaded-title{
    display: block;
}
.uploader-ajax.uploaded img{
    display: block;
}
.uploader-ajax.uploaded h3{
    background-color: rgba(0, 0, 0, 0.4);
    height: 30px;
    color: white;
    line-height: 30px;
    bottom: 0;
}