.form-control-folder{
    position: relative;
    width: 100%;
    background-color: #0f0f0f;
    border: 1px solid gray;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.form-control-folder input[type='file']{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100%;
    height: 30px;
}
.form-control-folder label{
    display: inline-block;
    height: 30px;
    width: 20px;
    position: absolute;
    right: 5px;
    top: 0;
    pointer-events: none;
    margin: 0;
    border-left: 1px solid gray;
    text-align: center;
    line-height: 25px;
    text-indent: 4px;
}
.form-control-folder span{
    width: 100%;
    padding: 5px 30px 5px 10px;
    pointer-events: none;
    text-overflow: ellipsis;
}
.disabled .form-control-folder{
    background-color: #F5F5F5;
    color:#ACA899;
    cursor: not-allowed;
}
.disabled .form-control-folder input[type='file']{
    pointer-events: none;
}