<section class="section-project-dashboard">
    <div class="section-content">
        <div class="plugin-wrapper">
            <iframe src="{{main_path}}" id="plugin-main-{{project_id}}" scrolling="no">
            </iframe>
        </div>
    </div>
    <div class="section-footer">
        <div class="footer-half half-left">
            <ul class="collection">
            </ul>
            <div class="btn-wrapper">
                <a class="btn btn-default btn-data"><i class="fs fs-menu"></i></a>
            </div>
        </div>
        <div class="footer-half half-right">
            <div class="btn-wrapper">
                <a class="btn btn-primary btn-done"><i class="fs fs-ok"></i></a>
            </div>
            <ul class="collection">
            </ul>
        </div>
        <div class="progressbar">
            <div class="left-padding"></div>
            <div class="progressbar-track">
                <div class="progressbar-fill"></div>
            </div>
            <label><span class="value">0</span>/<span class="max">0</span></label>
        </div>

        <div class="zoombar" data-scale="100">
            <i class="fs fs-zoom-in" data-role="zoom-in"></i>
            <label>100%</label>
            <i class="fs fs-zoom-out" data-role="zoom-out"></i>
            <i class="fs fs-zoom-fit" data-role="zoom-fit"></i>
        </div>
    </div>
</section>