<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/splash.css">
</head>
<body>
<img src="../../../assets/image/splash.png" />
<script>window.$ = window.jQuery = require('../../../assets/plugins/jquery/jquery-3.2.1.min.js');</script>
<script>window.i18n = new(require('../../../../locales/i18n.js'));</script>

<script src="../../../assets/plugins/pouch/pouchdb.js"></script>
<script src="../../../assets/plugins/lodash/lodash.min.js"></script>
<script src='../../../assets/js/components/lodash-ext/lodash-ext.js'></script>
<script src='../../../assets/js/components/core.js'></script>

<script src="../../../assets/js/splash.js"></script>
</body>
</html>